
window-save-state = always
font-family = "FiraCode Nerd Font Mono"
font-family = "Fira Code Retina Nerd Font Complete Mono"
font-size = 15
shell-integration-features = no-cursor
cursor-style-blink = false
cursor-style = block
auto-update = download
term = xterm-256color
quit-after-last-window-closed = true
keybind = shift+enter=text:\n

#custom-shader = ~/.dotfiles/ghostty-shaders/tft.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/bettercrt.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/bloom.glsl

#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_blaze_no_trail.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_blaze_tapered.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_blaze.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_frozen.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_smear_fade.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/cursor_smear.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/debug_cursor_animated.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/debug_cursor_static.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/manga_slash.glsl
#custom-shader = ~/.dotfiles/ghostty-shaders/cursor/WIP.glsl
